.container{
    
}
.sidebar{
    font-size: 20px;
    font-weight: 700;
    width: 80%;
    height: 30px;
    padding: 2%;
    margin: 2%;
    display: flex;
   justify-content: center;
   align-items: center;
}